
SchoolManagementBackend/SchoolManagementBackend/obj/Debug/net6.0/project.razor.json
SchoolManagementBackend/SchoolManagementBackend/obj/Debug/net6.0/SchoolManagementBackend.GeneratedMSBuildEditorConfig.editorconfig
